* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/MontserratAlternates.ttf");
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoSerif-Variable.ttf");
}
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
}
.button {
    border-radius: 8px;
    background: linear-gradient(96deg, #3a5737 0%, black 100%);
    width: 230px;
    height: 50px;
    padding: 19px;
    box-sizing: border-box;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 50px;
}
.header {
    position: relative;
    width: 100%;
}
.header__line {
    width: 4px;
    height: 0;
    background-color: black;
    margin: 0 auto;
    animation: ani 4.0s forwards;
}
.header__preview {
    margin: auto;
    position: absolute;
    width: 250px;
    height: 250px;
    top: -100px;
    left: 0;
    right: 0;
    background: url("./assets/images/logo.png");
    animation-name: mover;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes ani {
    0% {height: 0;}
    100% {height: 110px;}
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(170px); }
}
.container {
    padding: 0 25px;
}
.header__inner {
    padding-top: 230px;
    text-align: center;
}
.header__img {
    width: 800px;
    height: 800px;
    animation-name: blackout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes blackout {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.header__title {
    margin-top: 25px;
    animation-name: blackout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.header__text {
    margin-top: 15px;
    animation-name: blackout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    font-size: 30px;
}
.arrow {
    width: 55px;
    height: 55px;
    border-top: 5px solid #000000;
    border-right: 5px solid #000000;
    margin: 40px auto;
    transform: rotate(135deg);
    animation: spin 1.4s infinite linear;
}
.arrow-bottom {
    transform: rotate(135deg);
}
@keyframes spin {
    0%   { transform: translateY(0) rotate(135deg); }
    50%  { transform: translateY(-10px) rotate(135deg); }
    100% { transform: translateY(0) rotate(135deg); }
}
.description {
    text-align: center;
}
.description__items {
    display: flex;
    padding: 25px 100px;
}
.description__item-left {
    position: relative;
    display: inline-block;
}
.description__line {
    width: 3px;
    height: 550px;
    background-color: black;
    z-index: 0;
}
.description__date {
    position: absolute;
    background: white;
    top: 60px;
    font-size: 50px;
    z-index: 1;
    left: -27px;
    transition: top 0.8s;
}
.description__item-right {
    padding: 120px 20px;
    margin-left: 30px;
}
.description__text {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 35px;
}
.time {
    padding-top: 150px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.5s, opacity 0.5s;
}
.time__inner {
    margin-top: 80px;
}
.time__inner img {
    width: 250px;
    height: 250px;
}
.time__time {
    font-size: 45px;
}
.time__text {
    font-size: 35px;
}